<html>
<head>
</head>
<body>
<h1> This is the Login page </h1>
{% with messages = get_flashed_messages( with_categories=true, category_filter=['danger'] ) %}
{% if messages %}
<ul class='flashes'>
{% for c, m in messages %}
<li> {{ c }} : {{ m }} </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if form.errors %}
{% for message in form.username.errors %}
<div class="field_error">{{ message }}</div>
{% endfor %}
{% endif %}

<!--valide le form que du coté serveur(novalidate)-->
<form method="POST" action="/login" novalidate>
    <!--permet browser de stocker mdp secret qui est envoyé au serveur quand client pousse submit -->
{{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->
{{ form.username.label }} {{ form.username(size=20) }}<br>
{{ form.password.label }} {{ form.password(size=16) }}<br>
{{ form.submit }}
</form>
<div>
    <a href="{{ url_for('register') }}">Register</a>
</div>
</body>