<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Registration page</title>
</head>
<body>

{% with messages = get_flashed_messages( with_categories=true, category_filter=['danger'] ) %}
{% if messages %}
<ul class='flashes'>
{% for c, m in messages %}
<li> {{ c }} : {{ m }} </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if form.errors %}
{% for message in form.username.errors %}
<div class="field_error">{{ message }}</div>
{% endfor %}
{% endif %}
<h1>Register page</h1>
<<form action="/register" method="post">
 {{ form.hidden_tag() }} <!-- {{ form.csrf_token }} -->
 <p>
 {{ form.username.label }}<br>
 {{ form.username(size=32) }}<br>
 {% for error in form.username.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>
 {{ form.firstname.label }}<br>
 {{ form.firstname(size=64) }}<br>
 {% for error in form.firstname.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
<p>
 {{ form.lastname.label }}<br>
 {{ form.lastname(size=64) }}<br>
 {% for error in form.lastname.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
<p>
 {{ form.date.label }}<br>
 {{ form.date(size=64) }}<br>
 {% for error in form.date.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>
 {{ form.password.label }}<br>
 {{ form.password(size=32) }}<br>
 {% for error in form.password.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>
 {{ form.password2.label }}<br>
 {{ form.password2(size=32) }}<br>
 {% for error in form.password2.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>{{ form.submit() }}</p>
 </form>

</body>
</html>