{% extends "parent.html" %}

{% block content %}
  <div style="margin-top :150px; text-align: center;">
    <h1>Ajouter du matériel</h1>

      {% with messages = get_flashed_messages(with_categories=true, category_filter="info")%}
    {% if messages %}
      <ul class="flashes">
        {% for c, m in messages %}
          <p class="flash_message" style="color: Red;">{{c}} : {{m}}</p>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <form novalidate style="text-align: center;" action="/addMatos" method="POST">
      {{form.csrf_token}}

      <ul class="field_error">
         {% for message in form.type.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.type.label}}<br>
      {{form.type}}<br>

      <ul class="field_error">
         {% for message in form.quantite.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.quantite.label}}<br>
      {{form.quantite}}<br><br>

      {{form.submit (class="btn btn-primary")}}
    </form>

    <a href="/materiel" class="btn btn-danger" style="margin-top: 10px;">Cancel</a>
  </div>
{% endblock%}
