{% extends "parent.html"%}

{% block content%}
  <div style="margin-top :150px; text-align: center;">
    <h1>Ajout du résultat d'un match</h1>
      {% with messages = get_flashed_messages(with_categories=true, category_filter="info")%}
    {% if messages %}
      <ul class="flashes">
        {% for c, m in messages %}
          <p class="flash_message" style="color: Red;">{{c}} : {{m}}</p>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <form novalidate style="text-align: center;" action="/addMatch" method="POST">
      {{form.csrf_token}}

      <ul class="field_error">
         {% for message in form.date.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.date.label}}<br>
      {{form.date}}<br>

      <ul class="field_error">
         {% for message in form.heure.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.heure.label}}<br>
      {{form.heure}}<br>

      <ul class="field_error">
         {% for message in form.score.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.score.label}}<br>
      {{form.score}}<br>

      <ul class="field_error">
         {% for message in form.equipe.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.equipe.label}}<br>
      {{form.equipe(class="form-control-lg")}}<br>

      <ul class="field_error">
         {% for message in form.rival.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.rival.label}}<br>
      {{form.rival}}<br><br>

      {{form.submit (class="btn btn-primary")}}
    </form>
    <div class="text-center" style="text-align: center; margin-top: 10px;">
        <a href="/matchs" class="btn btn-danger" >Cancel</a>
    </div>
  </div>
{% endblock%}
