{% extends "parent.html" %}
{% import "macro_form.html" as macros %}

{% block content%}
  <div style="margin-top: 150px; text-align: center;">
    <h1 style="text-align: center;">Add a player to {{ team.getName() }}</h1>

      <form novalidate style="text-align: center;" action="/addPlayerToTeam/nom={{ team.getName() }}" method="POST">
      {{form.csrf_token}}

      <ul class="field_error">
         {% for message in form.player.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.player.label}}<br>
      {{form.player }}<br><br>

      {{form.submit (class="btn btn-primary")}}
    </form>
  <a href="/teams" class="btn btn-danger" style="margin-top: 10px;">Cancel</a>

  </div>
{% endblock%}
