{% extends "parent.html"%}

{% block content%}
  <div style="margin-top :150px; text-align: center;">
    <h1>Edit a product for the bar</h1>
    <form novalidate style="text-align: center;" action="/editProduct/id={{ prod.getId() }}" method="POST">
      {{form.csrf_token}}

      <ul class="field_error">
         {% for message in form.name.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.name.label}}<br>
      {{form.name(value=prod.getName())}}<br>

      <ul class="field_error">
         {% for message in form.quantite.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.quantite.label}}<br>
      {{form.quantite(value=prod.getQuant())}}<br>

      <ul class="field_error">
         {% for message in form.type.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.type.label}}<br>
      {{form.type (class="form-control-lg", value=prod.getType())}}<br>

      <ul class="field_error">
         {% for message in form.tarif.errors %}
           <p>{{message}}</p>
         {% endfor %}
       </ul>
      {{form.tarif.label}}<br>
      {{form.tarif(value=prod.getPrice())}}<br><br>

      {{form.submit (class="btn btn-primary")}}
    </form>
    <a href="/stock" class="btn btn-danger" style="margin-top: 10px;">Cancel</a>
  </div>
{% endblock%}
