{% extends "parent.html" %}
{% import "macro_form.html" as macros %}

{% block content %}
  <div class="content" style="margin-top: 100px;">
    <h1>Liste des résultats</h1>

    <table class="table" border="collapse">
      <tr class="thead-light">
        <th>Date</th>
        <th>Equipe</th>
        <th>Adversaire</th>
        <th>Score</th>
      </tr>
      {% for match in matchs %}
        {{macros.showMatch(match)}}
      {% endfor %}
    </table>
    {% if current_user.is_authenticated and current_user.isAdmin() %}
      <a href="/addMatch" class="btn btn-primary">Add a result</a>
    {% endif %}
  </div>
{% endblock %}
