<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Registration page</title>
</head>

<body>


<h1 style="text-align: center; margin-top: 100px;">Register page</h1>
{% with messages = get_flashed_messages( with_categories=true, category_filter=['danger'] ) %}
{% if messages %}
<ul class='flashes'>
{% for c, m in messages %}
<p> {{ c }} : {{ m }} </p>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if form.errors %}
{% for message in form.username.errors %}
<div class="field_error">{{ message }}</div>
{% endfor %}
{% endif %}

<form action="/inscription" method="post" style="text-align: center;">
 {{ form.hidden_tag() }} <!-- {{ form.csrf_token }} -->
 <p>
 {{ form.username.label }}<br>
 {{ form.username(size=32) }}<br>
 {% for error in form.username.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>
 {{ form.firstname.label }}<br>
 {{ form.firstname(size=32) }}<br>
 {% for error in form.firstname.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
<p>
 {{ form.lastname.label }}<br>
 {{ form.lastname(size=32) }}<br>
 {% for error in form.lastname.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
<p>
 {{ form.date.label }}<br>
 {{ form.date(size=32) }}<br>
 {% for error in form.date.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>
 {{ form.password.label }}<br>
 {{ form.password(size=32) }}<br>
 {% for error in form.password.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>
 {{ form.password2.label }}<br>
 {{ form.password2(size=32) }}<br>
 {% for error in form.password2.errors %}
 <span style="color: red;">[{{ error }}]</span>
 {% endfor %}
 </p>
 <p>{{ form.submit (class="btn btn-primary")}}</p>
 </form>
 <div style="text-align: center;">
    <a href="/" style="text-align: center;">Revenir à l'accueil</a>
</div>

</body>
</html>
