{% extends "parent.html" %}
{% import "macro_form.html" as macros%}

{% block content %}
  <script type="text/javascript" src="/static/js/stock.js">
  </script>

  <div style="margin-top: 100px;">
    <h1>Stock des produits bar</h1>
    <h3>Tous les produits.</h3>
    <input type="text" placeholder="select a type" id="searchInput">
  	<button type="button" id="search" class="btn btn-secondary"> search</button>
  	<button type="button" id="all" class="btn btn-secondary">all</button><br><br>

    <table width="100%" border="collapse" class="table" id="stockTable">
      <tr class="thead-light">
        <th>Produit</th>
        <th>Type</th>
        <th>Quantité</th>
        <th>Options</th>
      </tr>

      {% for prod in products %}
        {{macros.showStock(prod)}}
      {% endfor %}

    </table>
    {% if current_user.is_authenticated and current_user.isAdmin()%}
      <a href="/bar" class="greenBtn btn btn-success">Retour à la carte</a>
      <a href="/addStock" class="btn btn-primary">Ajouter un produit</a>
    {% endif%}
  </div>
{% endblock %}
